.donate_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1120px;
  min-height: calc(100vh - 6rem);
  margin: 0 auto;
  padding: 2rem;

  img {
    height: 50vh;
  }

  h1 {
    margin: 1rem 0;
    font-size: 2rem;
  }

  h3 {
    margin-bottom: 1rem;

    span {
      font-weight: bold;
      color: #019950;
    }
  }

  strong {
    font-size: 1rem;
    background-color: #FFF;
    padding: .8rem;
  }
}