.task_container {
  max-width: 1120px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #17181F;
  border-radius: 6px;

  p {
    color: #F2F6FC;
    font-size: 1rem;
    line-height: 150%;
  }
  
  .task_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0 3rem;

    div {
      display: flex;
      align-items: center;
      gap: .5rem;

      span {
        font-size: 1.5rem;
        color: #F2F6FC;
      }

      time {
        color: #FFB800;
        font-size: 1.5rem;
      }
    }
  }
}